@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.header {
    position: relative;
    width: 100%;
    height: 430px;
    background: #6a70fc;
    overflow: hidden 6a70fc;
}

.header .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../image/wave.png);
    background-size: 1000px 100px;
}

.header .wave1 {
-webkit-animation: animate 30s linear infinite;
animation: animate 30s linear infinite;
z-index: 999;
opacity: 1;
-webkit-animation-delay: 0s;
animation-delay: 0s;
bottom: 0;
}

.header .wave2 {
-webkit-animation: animate 15s linear infinite;
animation: animate2 15s linear infinite;
z-index: 998;
opacity: 0.5;
-webkit-animation-delay: -5s;
animation-delay: -5s;
bottom: 10px;
}

.header .wave3 {
-webkit-animation: animate 30s linear infinite;
animation: animate3 30s linear infinite;
z-index: 997;
opacity: 0.2;
-webkit-animation-delay: -2s;
animation-delay: -2s;
bottom: -15px;
}

.header .wave4 {
-webkit-animation: animate 15s linear infinite;
animation: animate 15s linear infinite;
z-index: 996;
opacity: 0.7;
-webkit-animation-delay: -5s;
animation-delay: -5s;
bottom: 15px;
}

@-webkit-keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@-webkit-keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

body {
    font-family: 'poppins', sans-serif;
}

.italic {
    font-weight: 300;
    font-size: 14px;
}

.medium {
    font-weight: 500;
    font-size: 18px;
}

.semi-bold {
    font-weight: 600;
    font-size: 26px;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .btn-purple {
    border: 1px solid #3498db;
    background: #3498db;
    color: #fbbe81 !important;
    width: 100%;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .btn-outline-purple {
    color: #3498db;
    border: 1px solid #3498db;
    width: 100%;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .btn-outline-purple:hover {
    border: 1px solid #3498db;
    color: #3498db;
    width: 100%;
}

.text-center h2 {
    font-size: 26px;
}

.text-center p {
    font-size: 16px;
}

.row .col {
    z-index: 1001;
    margin-top: -50px;
}

@media screen and (max-width: 576px) {
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #3498db;
        margin-top: -160px;
        border-color: #6a70fc;
    }
}

@media screen and (max-width: 768px) {
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #3498db;
        margin-top: -160px;
        border-color: #6a70fc;
    }
}

@media screen and (max-width: 992px) {
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #3498db;
        margin-top: -160px;
        border-color: #6a70fc;
    }
}

@media screen and (max-width: 576px) {
    .row .col .content-bottom {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .row .col .content-bottom {
        margin-top: 32px; 
    }
}

@media screen and (max-width: 992px) {
    .row .col .content-bottom {
        margin-top: 32px;
    }
}

.row .col .content {
    padding: 32px 20px 32px 20px;
    background: #3498db;
    border-color: #6a70fc;
}

@media screen and (max-width: 992px) {
    .row .col .content {
        padding: 32px 20px 32px 20px;
        background: #3498db;
        margin-top: -160px;
        border-color: #6a70fc;
    }
}

.row .col .content .card {
    background: blue;
    padding: 16px;
    color: #3498db;
}

.row .col .content .btn-custom {
    background: blue;
}

.bg-purple {
    background: silver;
    width: 100%;
    padding: 26px;
}

.row .col .content {
    border-radius: 10px;
}

.mt-5 .italic {
    background: silver;
    padding: 30px;
}

.modal .modal-dialog .modal-content .modal-body h3 {
    font-weight: 500;
    font-size: 25px;
}

.modal .modal-dialog .modal-content .modal-body p {
    font-weight: 300;
    font-size: 16px;
    color: #707070;
}

.modal .modal-dialog .modal-content .modal-body .btn-purple {
    border: 1px solid blue;
    background: blue;
    color: blue;
    width: 100%;
}
